body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('https://www.shutterstock.com/image-photo/poker-chips-on-green-felt-260nw-626602559.jpg');
    background-repeat: no-repeat;
    padding-top: 10%;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    

}
h1{
    text-align: center;
    font-size: 5rem;
    color:goldenrod;
}
p{
 padding:auto;
 font-weight:bold;
 text-align: center;
 font-size: 2rem;
 color:white;
}
#message-el{
    font-style:oblique;
}
button{

 
    color:  #016f32;
    background-color:goldenrod;
    width:250px;
    size: 80rem;
    padding-top: 15px;
    padding-bottom: 15px;
    
    font-weight: bold;
    font-size: 1.rem;
    border: none;
    border-radius:7px;
    margin-bottom:2px;
    margin-top:2px;
   

}


    
